<!DOCTYPE html>
<html>
  <head>
    <title>Devmatch</title>
    <%= csrf_meta_tags %>
<!-- import google fonts-->    
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class='container'>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        
<!-- embedded ruby for logo page-->
          <%= link_to root_path, class: "navbar-brand" do %>
<!-- font awesome usage -->          
            <i class="fa fa-group"></i> Devmatch
          <% end %>
          
        </div>
        
        <div class="collapse navbar-collapse" id="main-nav-collapse">
          <div class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "btn btn-default navbar-btn" %>
            <% else %>
              <%= link_to "Log In", new_user_session_path, class: "btn btn-default navbar-btn" %>
              
            <% end %>
          </div>
          <ul class="nav navbar-nav navbar-right">
<!-- embedded ruby to go to about page -->
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Contact Us", new_contact_path %></li>
          </ul>
        </div>
<!-- .navbar-collapse -->
      </div>
    </nav>
    <div class="container">
      <% flash.each do |type, msg| %> <!-- loop, type is the key, msg is the value, line doesnt need = sign because it isnt being injected into html->
        <!-- type refers to danger or success. -->
        <!-- flash keywors refers to a list of key value pairs-->
        <%= content_tag :div, msg, class: "alert alert-#{type}" %> <!-- #{var} indicates string interpolation-->
        <!-- content_tag :div is rails making a div -->
        <!-- = sign is what injects line into document -->
        <!-- string interpolation for type and message; meaning replacing string literal for value as needed, i.e. using a placeholder name-->
        <!-- type changes to danger or success-->
      <% end %>
      <!-- structure ^ put here in case redirection link is changed -->
    </div>
    <%= yield %>
    
  </body>
</html>
